---
- name: Configure additional control planes
  hosts: k3s_additional_control_planes
  serial: 1
  vars_files:
    - "{{ tf_workspace }}.vars.yml"
  environment:
    INSTALL_K3S_SKIP_START: true
    INSTALL_K3S_VERSION: "{{ k3s_version }}"
    K3S_TOKEN: "{{ k3s_token }}"
  become: true
  tasks:
    - name: Ensure additional k3s servers are configured for the cluster
      ansible.builtin.shell:
        cmd: curl -sfL https://get.k3s.io | sh -s - server --server={{ k3s_api_url }}
      args:
        creates: /etc/systemd/system/k3s.service
    - name: Ensure K3S service is started
      ansible.builtin.systemd:
        name: k3s
        state: started
        enabled: true
        daemon_reload: true
    - name: Pause between hosts
      ansible.builtin.pause:
        seconds: 10
