---
- name: Establish baseline for K3S nodes
  hosts: all
  vars_files:
    - "{{ tf_workspace }}.vars.yml"
  environment:
    INSTALL_K3S_SKIP_START: true
    INSTALL_K3S_VERSION: "{{ k3s_version }}"
    K3S_TOKEN: "{{ k3s_token }}"
  become: true
  tasks:
    - name: Ensure the /root/.bashrc.d/ directory exists
      ansible.builtin.file:
        path: /root/.bashrc.d
        state: directory
        owner: root
        group: root
        mode: '0700'
    - name: Ensure /root/.bashrc sources files in /root/.bashrc.d
      ansible.builtin.blockinfile:
        dest: /root/.bashrc
        content: |
          BASH_RC_DIR="$HOME/.bashrc.d"
          if [ -d "$BASH_RC_DIR" ]; then
            for f in $(ls "$BASH_RC_DIR"); do
              source "$BASH_RC_DIR/$f"
            done
          fi
        owner: root
        group: root
        mode: '0644'
    - name: Ensure apt is configured to use local caching server
      ansible.builtin.lineinfile:
        path: /etc/apt/apt.conf.d/00aptproxy
        line: Acquire::http::Proxy "{{ apt_proxy_url }}";
        create: true
      when: use_apt_proxy
    - name: Ensure apt is NOT configured to use local caching server
      ansible.builtin.file:
        path: /etc/apt/apt.conf.d/00aptproxy
        state: absent
      when: not use_apt_proxy
    - name: Ensure package cache is updated
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600
      register: apt_update
      until: apt_update is success
      retries: 10
      delay: 30
    - name: Ensure default system packages are up to date
      ansible.builtin.apt:
        upgrade: yes
        autoclean: yes
      register: apt_upgrade
      until: apt_upgrade is success
      retries: 10
      delay: 30
    - name: Ensure common packages are installed
      ansible.builtin.apt:
        name:
          - python3-kubernetes
          - cryptsetup
          - ipvsadm
          - jq
          - nfs-common
          - open-iscsi
          - parted
        cache_valid_time: 300
        lock_timeout: 180
    - name: Ensure the iscsi_tcp module is loaded before iscsid is started
      community.general.modprobe:
        name: iscsi_tcp
      register: iscsi_tcp_module
    - name: Ensure the iscsid service is enabled and started for longhorn
      ansible.builtin.systemd:
        name: iscsid
        state: restarted
        enabled: true
      when: iscsi_tcp_module.changed
    - name: Ensure the K3S drop-in configuration directory exists
      ansible.builtin.file:
        path: /etc/rancher/k3s/config.yaml.d
        state: directory
        owner: root
        group: root
        mode: '0755'
