###############################################################################
###############################################################################
##
##  Terraform/OpenTofu provider variables
##
###############################################################################
###############################################################################
#==================== bpg/proxmox ====================
# Here is where we specify the URL for the web API for the Proxmox cluster.
endpoint = "https://pve1.example.com:8006/"

# The API Token is the combination of the ID and secret:
api_token = "terraform@pve!mytoken=12345678-90ab-cdef-1234-567890abcdef"

#==================== hashicorp/dns ====================
dns_server        = "192.168.1.1"
dns_key_name      = "update-key."
dns_key_secret    = "SuperSecretKey+SuperSecretKey+SuperSecretKey="
dns_key_algorithm = "hmac-sha256"

###############################################################################
###############################################################################
##
##  Workspace-specific values
##
###############################################################################
###############################################################################
# ansible.tf
ci_user = "groot"

# data.tf
ssh_keystore = "~/.ssh"

#vms.tf
ci_password = "change_me!"
vm_template_storage = {
  node = "pve1"
  name = "local-lvm"
}

vlans = [
  {
    comment          = "VLAN_10",
    interface        = "vmbr0"
    node_name        = "pve1"
    vlan_id          = 10,
    ipv4_gateway     = "192.168.1.254",
    ipv4_dns_servers = ["192.168.1.1"]
    netblock         = "192.168.1.0/24"
  },
  {
    comment          = "vmbr1",
    interface        = "vmbr1"
    node_name        = "pve1"
    vlan_id          = 0,
    ipv4_gateway     = "",
    ipv4_dns_servers = ["192.168.1.1"]
    netblock         = "192.168.2.0/24"
  },
]

laptops = []

vms = [
  {
    vm_id      = 201,
    hostname   = "fw1",
    pve_node   = "pve1",
    iso_image  = "local-lvm:iso/vyos-2025.09.17-0018-rolling-generic-amd64.iso",
    boot_order = ["scsi0", "ide2", "net1"]
    bios       = "ovmf"
    hardware = {
      cpu = {
        cores = 2,
        type  = "x86-64-v2-AES"
      }
      disks = [
        {
          datastore_id = "local-lvm",
          interface    = "scsi0",
          serial       = "scsi0",
          size         = 50
        },
      ]
      memory = 8192,
      network_devices = [
        {
          disconnected = true,
          interface    = "vmbr0",
          mac_address  = "ca:fe:01:96:f8:01",
          vlan_id      = 0,
        },
        {
          disconnected = false,
          interface    = "vmbr0",
          mac_address  = "ca:fe:02:02:02:02",
          vlan_id      = 96,
        },
      ],
      vga = {
        memory = 512,
        type   = "std"
      }
    }
  },
  {
    vm_id      = 202,
    hostname   = "nas1",
    pve_node   = "pve1",
    iso_image  = "local-lvm:iso/TrueNAS-SCALE-25.10.0.1.iso",
    boot_order = ["virtio0", "ide2", "net0"]
    bios       = "ovmf"
    hardware = {
      cpu = {
        cores = 2,
        type  = "x86-64-v2-AES"
      }
      disks = [
        {
          datastore_id = "local-lvm",
          interface    = "virtio0",
          serial       = "virtio0",
          size         = 20
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi0",
          serial       = "scsi0",
          size         = 10
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi1",
          serial       = "scsi1",
          size         = 10
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi2",
          serial       = "scsi2",
          size         = 10
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi3",
          serial       = "scsi3",
          size         = 10
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi4",
          serial       = "scsi4",
          size         = 10
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi5",
          serial       = "scsi5",
          size         = 10
        },
      ]
      memory = 8192,
      network_devices = [
        {
          disconnected = false,
          interface    = "vmbr0",
          mac_address  = "ca:fe:02:02:03:01",
          vlan_id      = 96,
        },
        {
          disconnected = false,
          interface    = "vmbr0",
          mac_address  = "ca:fe:02:02:03:02",
          vlan_id      = 96,
        },
      ],
      vga = {
        memory = 512,
        type   = "virtio"
      }
    }
  },
  {
    vm_id      = 203,
    hostname   = "nas2",
    pve_node   = "pve1",
    iso_image  = "local-lvm:iso/TrueNAS-SCALE-25.10.0.1.iso",
    boot_order = ["virtio0", "ide2", "net0"]
    bios       = "ovmf"
    hardware = {
      cpu = {
        cores = 2,
        type  = "x86-64-v2-AES"
      }
      disks = [
        {
          datastore_id = "local-lvm",
          interface    = "virtio0",
          serial       = "virtio0",
          size         = 20
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi0",
          serial       = "scsi0",
          size         = 10
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi1",
          serial       = "scsi1",
          size         = 10
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi2",
          serial       = "scsi2",
          size         = 10
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi3",
          serial       = "scsi3",
          size         = 10
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi4",
          serial       = "scsi4",
          size         = 10
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi5",
          serial       = "scsi5",
          size         = 10
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi6",
          serial       = "scsi6",
          size         = 20
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi7",
          serial       = "scsi7",
          size         = 20
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi8",
          serial       = "scsi8",
          size         = 20
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi9",
          serial       = "scsi9",
          size         = 20
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi10",
          serial       = "scsi10",
          size         = 5
        },
        {
          datastore_id = "local-lvm",
          interface    = "scsi11",
          serial       = "scsi11",
          size         = 5
        },
      ]
      memory = 8192,
      network_devices = [
        {
          disconnected = false,
          interface    = "vmbr0",
          mac_address  = "ca:fe:02:02:04:01",
          vlan_id      = 96,
        },
        {
          disconnected = false,
          interface    = "vmbr0",
          mac_address  = "ca:fe:02:02:04:02",
          vlan_id      = 96,
        },
      ],
      vga = {
        memory = 512,
        type   = "virtio"
      }
    }
  },
  {
    vm_id      = 204,
    hostname   = "pve1",
    pve_node   = "pve1",
    iso_image  = "none",
    boot_order = ["scsi0", "net0"]
    bios       = "ovmf"
    hardware = {
      cpu = {
        cores = 2,
        type  = "host"
      }
      disks = [
        {
          datastore_id = "local-lvm",
          interface    = "scsi0",
          serial       = "scsi0",
          size         = 50
        },
      ]
      memory = 8192,
      network_devices = [
        {
          disconnected = false,
          interface    = "vmbr0",
          mac_address  = "ca:fe:02:02:05:01",
          vlan_id      = 96,
        },
        {
          disconnected = false,
          interface    = "vmbr0",
          mac_address  = "ca:fe:02:02:05:02",
          vlan_id      = 96,
        },
      ],
      vga = {
        memory = 512,
        type   = "std"
      }
    }
  },
  {
    vm_id      = 205,
    hostname   = "pve2",
    pve_node   = "pve1",
    iso_image  = "none",
    boot_order = ["scsi0", "net0"]
    bios       = "ovmf"
    hardware = {
      cpu = {
        cores = 2,
        type  = "host"
      }
      disks = [
        {
          datastore_id = "local-lvm",
          interface    = "scsi0",
          serial       = "scsi0",
          size         = 50
        },
      ]
      memory = 8192,
      network_devices = [
        {
          disconnected = false,
          interface    = "vmbr0",
          mac_address  = "ca:fe:02:02:06:01",
          vlan_id      = 96,
        },
        {
          disconnected = false,
          interface    = "vmbr0",
          mac_address  = "ca:fe:02:02:06:02",
          vlan_id      = 96,
        },
      ],
      vga = {
        memory = 512,
        type   = "std"
      }
    }
  },
  {
    vm_id      = 206,
    hostname   = "pve3",
    pve_node   = "pve1",
    iso_image  = "none",
    boot_order = ["scsi0", "net0"]
    bios       = "ovmf"
    hardware = {
      cpu = {
        cores = 2,
        type  = "host"
      }
      disks = [
        {
          datastore_id = "local-lvm",
          interface    = "scsi0",
          serial       = "scsi0",
          size         = 50
        },
      ]
      memory = 8192,
      network_devices = [
        {
          disconnected = false,
          interface    = "vmbr0",
          mac_address  = "ca:fe:02:02:07:01",
          vlan_id      = 96,
        },
        {
          disconnected = false,
          interface    = "vmbr0",
          mac_address  = "ca:fe:02:02:07:02",
          vlan_id      = 96,
        },
      ],
      vga = {
        memory = 512,
        type   = "std"
      }
    }
  },
  {
    vm_id      = 207,
    hostname   = "workstation",
    pve_node   = "pve1",
    iso_image  = "none",
    boot_order = ["scsi0", "net0"]
    bios       = "ovmf"
    hardware = {
      cpu = {
        cores = 2,
        type  = "x86-64-v2-AES"
      }
      disks = [
        {
          datastore_id = "local-lvm",
          interface    = "scsi0",
          serial       = "scsi0",
          size         = 40
        },
      ]
      memory = 8192,
      network_devices = [
        {
          disconnected = false,
          interface    = "vmbr0",
          mac_address  = "ca:fe:02:02:08:01",
          vlan_id      = 96,
        },
        {
          disconnected = false,
          interface    = "vmbr0",
          mac_address  = "ca:fe:02:02:08:02",
          vlan_id      = 96,
        },
      ],
      vga = {
        memory = 512,
        type   = "std"
      }
    }
  },
  {
    vm_id      = 208,
    hostname   = "bioshost1",
    pve_node   = "pve1",
    iso_image  = "none",
    boot_order = ["scsi0", "net0"]
    bios       = "seabios"
    hardware = {
      cpu = {
        cores = 2,
        type  = "x86-64-v2-AES"
      }
      disks = [
        {
          datastore_id = "local-lvm",
          interface    = "scsi0",
          serial       = "scsi0",
          size         = 20
        },
      ]
      memory = 8192,
      network_devices = [
        {
          disconnected = false,
          interface    = "vmbr0",
          mac_address  = "ca:fe:02:02:09:01",
          vlan_id      = 96,
        },
        {
          disconnected = false,
          interface    = "vmbr0",
          mac_address  = "ca:fe:02:02:09:02",
          vlan_id      = 96,
        },
      ],
      vga = {
        memory = 512,
        type   = "std"
      }
    }
  },
]

media_mappings = []
