###############################################################################
###############################################################################
##
##  Terraform/OpenTofu provider variables
##
###############################################################################
###############################################################################
# Here is where we specify the URL for the web API for the Proxmox cluster.
endpoint = "https://pve1.example.com:8006/"

# The API Token is the combination of the ID and secret:
api_token = "terraform@pve!mytoken=12345678-90ab-cdef-1234-567890abcdef"

###############################################################################
###############################################################################
##
##  VLANs
##
###############################################################################
###############################################################################
vlans = [
  {
    comment   = "ISOLATED",
    interface = "vmbr0"
    node_name = "pve1"
    vlan_id   = 96,
  },
  {
    comment   = "ISOLATED",
    interface = "vmbr0"
    node_name = "pve2"
    vlan_id   = 96,
  },
  {
    comment   = "ISOLATED",
    interface = "vmbr0"
    node_name = "pve3"
    vlan_id   = 96,
  },
]
