# Rename this file to terraform.tfvars after supplying your own site
# specific values.


#==========================================
# Uncomment to enable optional VMs
#==========================================
#want_k8s          = true
#want_minikube     = true
#want_k3s          = true  # including longhorn, kube-vip, prometheus, and grafana
#want_k3s_photos   = true
#want_yunohost     = true


# These are only for development
want_ansible_output = true
#want_k3s_master     = false
#want_k3s_servers    = false
#want_k3s_agents     = false

#==========================================
# Proxmox connectivity and authentication
#==========================================
# Here is where we specify the URL for the web API for the Proxmox cluster.
endpoint = "https://pve1.example.com:8006/"

# The API Token is the combination of the ID and secret:
api_token = "terraform@pve!demo=12345678-90ab-cdef-1234-567890abcdef"


# Here we specify which Proxmox node on which to store the VM templates and
# the name of the storage we use for storing ISO images (actually qcow2
# cloud-init images ).
vm_storage = "truenas1"
vm_template_storage = {
  node = "pve3",
  name = "truenas1"
}
iso_storage = {
  node = "pve3",
  name = "truenas1"
}

# Here is where we specify the node interface to which we add the VLANs. The
# switch port patched to this interface should be configured as a VLAN trunk.
node_vlan_interfaces = {
  pve1 = "vmbr0"
  pve2 = "vmbr0"
  pve3 = "vmbr0"
}

# This delay, in seconds, is to reduce output of failed connections attempts
# while we're waiting for the SSH service to start.
sleep_seconds_before_remote_provisioning = 40

#=============
# Cloud-init
#=============
# This is where we specify the user credentials for the administrative user
# cloud-init will create on each VM cloned from a cloud-init template image.
# Since we will be using Ansible for configuration management, it makes sense
# for this to be the "ansible" user.  If any other users need to be configured,
# Ansible can do that.  After Terraform has created and booted the VM, it will
# run Ansible to do further machine configuration.  The corresponding private
# SSH key should be added to your SSH agent as SSH is usually configured to
# disallow password logins.  Note, the public key does not include the comment
# you see at the end of the line in the .pub file.
ci_user     = "ansible"
ci_password = "AGoodPassword"

#=============
# Ansible
#=============
# ssh_private_key_files is a map of paths to SSH private key files indexed by
# username.  Here, we specify the location of the "ansible" user's private
# SSH key that needs to be known when Terraform runs ansible-playbook.
ssh_private_key_files = {
  ansible = "~/keys/ansible"
}
# Uncomment if you don't want Ansible playbooks to be run after the first time.
#ansible_replayable = false

#=============
# Site Config
#=============
site_domain = "site1.example.com"

#=============
# Site VLANs
#=============
# vlans is a map of site VLAN objects indexed by name.  Besides the VLAN ID,
# each VLAN specifies networking configuration for the netblock the VLAN uses
# in case the virtual machines connected to the VLAN do not use DHCP for
# network configuration.
vlans = [
  {
    vlan_id          = 10,
    comment          = "PROVISIONING",
    ipv4_gateway     = "192.168.0.254",
    ipv4_dns_servers = ["192.168.80.254"]
  },
  /* { */
  /*   vlan_id          = 20, */
  /*   comment          = "SERVER", */
  /*   ipv4_gateway     = "192.168.16.254", */
  /*   ipv4_dns_servers = ["192.168.16.254"] */
  /* }, */
  {
    vlan_id          = 30,
    comment          = "WIRED",
    ipv4_gateway     = "192.168.32.254",
    ipv4_dns_servers = ["192.168.32.254"]
  },
  {
    vlan_id          = 80,
    comment          = "LAB_80",
    ipv4_gateway     = "192.168.80.254",
    ipv4_dns_servers = ["192.168.80.254"]
  },
  {
    vlan_id          = 81,
    comment          = "LAB_81",
    ipv4_gateway     = "192.168.81.254",
    ipv4_dns_servers = ["192.168.81.254"]
  },
  {
    vlan_id          = 82,
    comment          = "LAB_82",
    ipv4_gateway     = "192.168.82.254",
    ipv4_dns_servers = ["192.168.82.254"]
  },
]

#=========================
# cloud-init image files
#=========================
# cloud_init_images stores a map of distro cloud-init images that should exist
# within Proxmox storage.  Terraform will download these to the Proxmox
# cluster's ISO storage.  Note, Proxmox does not recognize the .qcow2 extension
# so the resulting filename, as it appears in the Proxmox ISO storage, needs to
# end in .img.
cloud_init_images = {
  debian11-genericcloud-20240211 = {
    url       = "https://cloud.debian.org/images/cloud/bullseye/20240211-1654/debian-11-genericcloud-amd64-20240211-1654.qcow2",
    file_name = "debian-11-genericcloud-amd64-20240211.qcow2.img",
  }
  debian12-genericcloud-20240211 = {
    url       = "https://cloud.debian.org/images/cloud/bookworm/20240211-1654/debian-12-genericcloud-amd64-20240211-1654.qcow2",
    file_name = "debian-12-genericcloud-amd64-20240211.qcow2.img",
  }
}

#============================
# Template virtual machines
#============================
# vm_templates describes a map of virtual machine templates Terraform will
# create from the disk images listed above in cloud_init_images. The keys for
# the map are the names of the template virtual machines and the objects they
# refer to contain the name of the cloud-init image to use, the Proxmox VM id
# to use, and the VLAN the template will default to using.
vm_templates = {
  debian11-genericcloud-20240211 = {
    vm_id            = 999,
    cloud_init_image = "debian11-genericcloud-20240211",
  }
  debian12-genericcloud-20240211 = {
    vm_id            = 998,
    cloud_init_image = "debian12-genericcloud-20240211",
  }
}

#============================
# Site virtual machines
#============================
# Here is where we specify the details of the VMs we will clone.
vms = [
  {
    vm_id            = 400,
    hostname         = "ns1",
    role             = "dns",
    pve_node         = "pve1",
    cloud_init_image = "debian12-genericcloud-20240211"
    hardware = {
      cpu_cores = 1,
      memory    = 512,
      disk      = 20
    }
    mac_address  = "ca:fe:01:07:01:01",
    vlan_id      = 80,
    ipv4_address = "192.168.80.3/24"
  },
  {
    vm_id            = 401,
    hostname         = "ns2",
    role             = "dns",
    pve_node         = "pve2",
    cloud_init_image = "debian12-genericcloud-20240211"
    hardware = {
      cpu_cores = 1,
      memory    = 512,
      disk      = 20
    }
    mac_address  = "ca:fe:01:07:02:01",
    vlan_id      = 80,
    ipv4_address = "192.168.80.4/24"
  },
  {
    vm_id            = 402,
    hostname         = "lb1",
    role             = "load_balancer",
    pve_node         = "pve1",
    cloud_init_image = "debian12-genericcloud-20240211",
    hardware = {
      cpu_cores = 1,
      memory    = 512,
      disk      = 20
    }
    mac_address  = "ca:fe:01:06:01:01",
    vlan_id      = 80,
    ipv4_address = "192.168.80.251/24"
  },
  {
    vm_id            = 403,
    hostname         = "lb2",
    role             = "load_balancer",
    pve_node         = "pve2",
    cloud_init_image = "debian12-genericcloud-20240211",
    hardware = {
      cpu_cores = 1,
      memory    = 512,
      disk      = 20
    }
    mac_address  = "ca:fe:01:06:02:01",
    vlan_id      = 80,
    ipv4_address = "192.168.80.252/24"
  },
  {
    vm_id            = 410,
    hostname         = "k8scp1",
    role             = "k8s_control_plane",
    pve_node         = "pve1",
    cloud_init_image = "debian12-genericcloud-20240211"
    hardware = {
      cpu_cores = 2,
      memory    = 8192,
      disk      = 60
    }
    mac_address  = "ca:fe:01:80:01:01",
    vlan_id      = 80,
    ipv4_address = "192.168.80.90/24"
  },
  {
    vm_id            = 411,
    hostname         = "k8scp2",
    role             = "k8s_control_plane",
    pve_node         = "pve2",
    cloud_init_image = "debian12-genericcloud-20240211"
    hardware = {
      cpu_cores = 2,
      memory    = 8192,
      disk      = 60
    }
    mac_address  = "ca:fe:01:80:02:01",
    vlan_id      = 80,
    ipv4_address = "192.168.80.91/24"
  },
  {
    vm_id            = 412,
    hostname         = "k8scp3",
    role             = "k8s_control_plane",
    pve_node         = "pve3",
    cloud_init_image = "debian12-genericcloud-20240211"
    hardware = {
      cpu_cores = 2,
      memory    = 8192,
      disk      = 60
    }
    mac_address  = "ca:fe:01:80:03:01",
    vlan_id      = 80,
    ipv4_address = "192.168.80.92/24"
  },
  {
    vm_id            = 413,
    hostname         = "k8sw1",
    role             = "k8s_worker",
    pve_node         = "pve1",
    cloud_init_image = "debian12-genericcloud-20240211"
    hardware = {
      cpu_cores = 2,
      memory    = 8192,
      disk      = 60
    }
    mac_address  = "ca:fe:01:80:04:01",
    vlan_id      = 80,
    ipv4_address = "192.168.80.93/24"
  },
  {
    vm_id            = 414,
    hostname         = "k8sw2",
    role             = "k8s_worker",
    pve_node         = "pve2",
    cloud_init_image = "debian12-genericcloud-20240211"
    hardware = {
      cpu_cores = 2,
      memory    = 8192,
      disk      = 60
    }
    mac_address  = "ca:fe:01:80:05:01",
    vlan_id      = 80,
    ipv4_address = "192.168.80.94/24"
  },
  {
    vm_id            = 415,
    hostname         = "k8sw3",
    role             = "k8s_worker",
    pve_node         = "pve3",
    cloud_init_image = "debian12-genericcloud-20240211"
    hardware = {
      cpu_cores = 2,
      memory    = 8192,
      disk      = 60
    }
    mac_address  = "ca:fe:01:80:06:01",
    vlan_id      = 80,
    ipv4_address = "192.168.80.95/24"
  },
  {
    vm_id            = 510,
    hostname         = "minikube",
    role             = "minikube",
    pve_node         = "pve1",
    cloud_init_image = "debian12-genericcloud-20240211"
    hardware = {
      cpu_cores = 8,
      memory    = 16384,
      disk      = 40
    }
    mac_address  = "ca:fe:01:81:00:01",
    vlan_id      = 81,
    ipv4_address = "192.168.81.90/24"
  },
  {
    vm_id            = 511,
    hostname         = "yunohost",
    role             = "yunohost",
    pve_node         = "pve1",
    cloud_init_image = "debian11-genericcloud-20240211"
    hardware = {
      cpu_cores = 8,
      memory    = 16384,
      disk      = 40
    }
    mac_address  = "ca:fe:01:81:01:01",
    vlan_id      = 81,
    ipv4_address = "192.168.81.91/24"
  },
  {
    vm_id            = 610,
    hostname         = "k3scp1",
    role             = "k3s_master",
    pve_node         = "pve1",
    cloud_init_image = "debian12-genericcloud-20240211"
    hardware = {
      cpu_cores = 2,
      memory    = 8192,
      disk      = 60
    }
    mac_address  = "ca:fe:01:80:01:01",
    vlan_id      = 82,
    ipv4_address = "192.168.82.90/24"
  },
  {
    vm_id            = 611,
    hostname         = "k3scp2",
    role             = "k3s_server",
    pve_node         = "pve2",
    cloud_init_image = "debian12-genericcloud-20240211"
    hardware = {
      cpu_cores = 2,
      memory    = 8192,
      disk      = 60
    }
    mac_address  = "ca:fe:01:80:02:01",
    vlan_id      = 82,
    ipv4_address = "192.168.82.91/24"
  },
  {
    vm_id            = 612,
    hostname         = "k3scp3",
    role             = "k3s_server",
    pve_node         = "pve3",
    cloud_init_image = "debian12-genericcloud-20240211"
    hardware = {
      cpu_cores = 2,
      memory    = 8192,
      disk      = 60
    }
    mac_address  = "ca:fe:01:80:03:01",
    vlan_id      = 82,
    ipv4_address = "192.168.82.92/24"
  },
  {
    vm_id            = 613,
    hostname         = "k3sw1",
    role             = "k3s_agent",
    pve_node         = "pve1",
    cloud_init_image = "debian12-genericcloud-20240211"
    hardware = {
      cpu_cores = 2,
      memory    = 8192,
      disk      = 60
    }
    mac_address  = "ca:fe:01:80:04:01",
    vlan_id      = 82,
    ipv4_address = "192.168.82.93/24"
  },
  {
    vm_id            = 614,
    hostname         = "k3sw2",
    role             = "k3s_agent",
    pve_node         = "pve2",
    cloud_init_image = "debian12-genericcloud-20240211"
    hardware = {
      cpu_cores = 2,
      memory    = 8192,
      disk      = 60
    }
    mac_address  = "ca:fe:01:80:05:01",
    vlan_id      = 82,
    ipv4_address = "192.168.82.94/24"
  },
  {
    vm_id            = 615,
    hostname         = "k3sw3",
    role             = "k3s_agent",
    pve_node         = "pve3",
    cloud_init_image = "debian12-genericcloud-20240211"
    hardware = {
      cpu_cores = 2,
      memory    = 8192,
      disk      = 60
    }
    mac_address  = "ca:fe:01:80:06:01",
    vlan_id      = 82,
    ipv4_address = "192.168.82.95/24"
  },
]
