---
#############################################################################
##  Baseline system variables
#############################################################################
# With frequent standups and teardowns, you may find a local APT caching proxy
# (e.g. apt-cacher-ng on Debian) will speed things up.
use_apt_proxy: false
apt_proxy_url: "http://aptcache.exammple.com:3142"


