---
# With frequent standups and teardowns, you may find a local APT caching proxy
# (e.g. apt-cacher-ng on Debian) will speed things up.
use_apt_proxy: false
#apt_proxy_url: "http://apt.site1.example.com:3142"

# The version of kubernetes CLI tools to install.  You will likely want to
# install one minor version older than the currently release listed on
# https://github.com/kubernetes/kubernetes/releases so that you can practice
# in-place upgrades of kubernetes nodes, one of the CKA exam objectives.
kubernetes_version: 1.30
