# Rename this file to k3s.auto.tfvars and set your K3S token.
k3s_token                 = "superfoo"
k3s_version               = "v1.29.3+k3s1"
k3s_api_url               = "https://k3s.example.com:6443"
k3s_local_kubeconfig_path = "/home/user/.kube/config"
k3s_vip_ip                = "192.168.82.90"
k3s_vip_hostname          = "k3s"
k3s_vip_domain            = "example.com"
