---
- name: Configure admin laptop
  hosts: admin_laptop
  vars_files:
    - "{{ tf_workspace }}.vars.yml"
  become: true
  roles:
    - admin-laptop-baseline
    - gnome-workstation
- name: Add admin laptop users
  hosts: admin_laptop
  vars_files:
    - "{{ tf_workspace }}.vars.yml"
  become: true
  tasks:
    - name: Ensure admin user's group exists
      ansible.builtin.group:
        name: "{{ admin_account_username }}"
        gid: "{{ admin_account_gid }}"
    - name: Ensure admin user's account exists
      ansible.builtin.user:
        name: "{{ admin_account_username }}"
        uid: "{{ admin_account_uid }}"
        group: "{{ admin_account_username }}"
        shell: "{{ admin_account_shell }}"
        groups: sudo
        append: yes
        password: "{{ admin_account_initial_password | password_hash('sha256','random42') }}"
        update_password: on_create
      register: admin_account
    - name: Ensure admin account's password is expired if it was just created
      ansible.builtin.command: chage -d 0 "{{ admin_account_username }}"
      when: admin_account.changed
    - name: Ensure the default gateway is removed from "WAN" connection after install
      community.general.nmcli:
        type: ethernet
        conn_name: 'WAN'
        ifname: "{{ laptop_wan_interface }}"
        method4: manual
        ip4:
          - "{{ laptop_wan_address }}/{{ networks.WAN.network_prefix }}"
        gw4: ""
        zone: external
        state: present
