#============================
# Template virtual machines
#============================
# vm_templates describes a map of virtual machine templates Terraform will
# create from the disk images downloaded in the previous step.  The keys for
# the map are the names of the template virtual machines and the objects they
# refer to contain the name of the cloud-init image to use and the Proxmox VM
# id to use.

vm_templates = {
#  debian13-genericcloud-20250911 = {
#    file_name = "local-lvm:iso/debian-13-genericcloud-amd64-20250911.qcow2.img",
#    node_name = "pve1"
#    vm_id     = 991,
#    datastore = "local-lvm"
#    disk_size = 50,
#  },
  debian13-genericcloud-20251006 = {
    file_name = "local-lvm:iso/debian-13-genericcloud-amd64-20251006.qcow2.img",
    node_name = "pve1"
    vm_id     = 992,
    datastore = "local-lvm"
    disk_size = 50,
  },
  debian13-genericcloud-20251117 = {
    file_name = "local-lvm:iso/debian-13-genericcloud-amd64-20251117.qcow2.img",
    node_name = "pve1"
    vm_id     = 993,
    datastore = "local-lvm"
    disk_size = 50,
  },
}
