#============================
# Template virtual machines
#============================
# vm_templates describes a map of virtual machine templates Terraform will
# create from the disk images downloaded in the previous step.  The keys for
# the map are the names of the template virtual machines and the objects they
# refer to contain the name of the cloud-init image to use and the Proxmox VM
# id to use.

vm_templates = {
  debian12-genericcloud-20250210 = {
    file_name = "local-lvm:iso/debian-12-genericcloud-amd64-20250210.qcow2.img",
    node_name = "pve1"
    vm_id     = 998,
    datastore = "local-lvm"
    disk_size = 4,
  },
  debian12-genericcloud-20250112 = {
    file_name = "local-lvm:iso/debian-12-genericcloud-amd64-20250112.qcow2.img",
    node_name = "pve1"
    vm_id     = 999,
    datastore = "local-lvm"
    disk_size = 4,
  },
}
