# All files in this directory will be copied to /etc/bind on the DNS servers.
# Create the db.* files for your site and then rename this file to zones.local
# which will get included from the named.conf.local configuration file.

# Example contents for THIS file:


#  zone "80.168.192.in-addr.arpa" IN {
#    type master;
#    file "/etc/bind/db.192.168.80";
#  };
#  
#  zone "81.168.192.in-addr.arpa" IN {
#    type master;
#    file "/etc/bind/db.192.168.81";
#  };
#  
#  zone "labs.site1.example.com" IN {
#    type master;
#    file "/etc/bind/db.labs.site1";
#  };
