# Here is where we specify the URL for the web API for the Proxmox cluster.
endpoint = "https://pve1.example.com:8006/"

# Only uncomment this if you want to override the default.
#pverootaccount = "root@pam"

# Only uncomment this if you hate being prompted for your root password so
# much that your are willing to put the root password of your entire Proxmox
# cluster in a cleartext file and suffer the security consequences.
#pverootpassword = "password123"
