# Uncomment this boolean variable if you want Terraform to run the Ansible
# playbook that installs the gitea helm chart to your K3S cluster.  The default
# value is 'false'.  For the details, the Ansible playbook that gets run is in
# ansible/playbook-gitea.yml

# want_k3s_gitea = true
