###############################################################################
###############################################################################
##
##  Bridges
##
###############################################################################
###############################################################################
# This is the list of network bridges for the lab.
bridges = [ ]


###############################################################################
###############################################################################
##
##  VLANs
##
###############################################################################
###############################################################################
# For now, each VLAN has be be listed for each node.  This will be reworked in
# the future.

vlans = [
  {
    comment          = "LAB_82_K3S",
    interface        = "vmbr0"
    node_name        = "pve1"
    vlan_id          = 82,
    ipv4_gateway     = "10.48.82.254",
    ipv4_dns_servers = ["10.48.82.254"]
    netblock         = "10.48.82.0/24"
  },
  {
    comment          = "LAB_82_K3S",
    interface        = "vmbr0"
    node_name        = "pve2"
    vlan_id          = 82,
    ipv4_gateway     = "10.48.82.254",
    ipv4_dns_servers = ["10.48.82.254"]
    netblock         = "10.48.82.0/24"
  },
  {
    comment          = "LAB_82_K3S",
    interface        = "vmbr0"
    node_name        = "pve3"
    vlan_id          = 82,
    ipv4_gateway     = "10.48.82.254",
    ipv4_dns_servers = ["10.48.82.254"]
    netblock         = "10.48.82.0/24"
  },
]
