---
apiVersion: v1
kind: Secret
metadata:
  name: immich-postgres-user
  namespace: "{{ item }}"
type: kubernetes.io/basic-auth
stringData:
  DB_USERNAME: "{{ immich_db_username }}"
  DB_DATABASE_NAME: immich
  DB_PASSWORD: "{{ immich_db_password }}"
  username: "{{ immich_db_username }}"
  password: "{{ immich_db_password }}"
