apiVersion: v1
items:
- apiVersion: networking.k8s.io/v1
  kind: Ingress
  metadata:
    annotations:
      meta.helm.sh/release-name: prometheus
      meta.helm.sh/release-namespace: monitoring
    labels:
      app.kubernetes.io/component: server
      app.kubernetes.io/instance: prometheus
      app.kubernetes.io/managed-by: Helm
      app.kubernetes.io/name: prometheus
      app.kubernetes.io/part-of: prometheus
      app.kubernetes.io/version: v2.51.1
      helm.sh/chart: prometheus-25.19.1
    name: prometheus-server
    namespace: monitoring
  spec:
    ingressClassName: traefik
    rules:
    - host: "{{ k3s_vip_hostname }}-{{ cnames.prometheus }}"
      http:
        paths:
        - backend:
            service:
              name: prometheus-kube-prometheus-prometheus
              port:
                number: 9090
          path: /
          pathType: Prefix
{% if add_ingress_for_dev_cnames %}
    - host: "dev-{{ cnames.prometheus }}"
      http:
        paths:
        - backend:
            service:
              name: prometheus-kube-prometheus-prometheus
              port:
                number: 9090
          path: /
          pathType: Prefix
{% endif %}
{% if add_ingress_for_live_cnames %}
    - host: "{{ cnames.prometheus }}"
      http:
        paths:
        - backend:
            service:
              name: prometheus-kube-prometheus-prometheus
              port:
                number: 9090
          path: /
          pathType: Prefix
{% endif %}
    - host: "{{ k3s_vip_hostname }}-{{ cnames.alertmanager }}"
      http:
        paths:
        - backend:
            service:
              name: prometheus-kube-prometheus-alertmanager
              port:
                number: 9093
          path: /
          pathType: Prefix
{% if add_ingress_for_dev_cnames %}
    - host: "dev-{{ cnames.alertmanager }}"
      http:
        paths:
        - backend:
            service:
              name: prometheus-kube-prometheus-alertmanager
              port:
                number: 9093
          path: /
          pathType: Prefix
{% endif %}
{% if add_ingress_for_live_cnames %}
    - host: "{{ cnames.alertmanager }}"
      http:
        paths:
        - backend:
            service:
              name: prometheus-kube-prometheus-alertmanager
              port:
                number: 9093
          path: /
          pathType: Prefix
{% endif %}
- apiVersion: networking.k8s.io/v1
  kind: Ingress
  metadata:
    name: grafana
    namespace: monitoring
  spec:
    ingressClassName: traefik
    rules:
    - host: "{{ k3s_vip_hostname }}-{{ cnames.grafana }}"
      http:
        paths:
        - backend:
            service:
              name: prometheus-grafana
              port:
                number: 80
          path: /
          pathType: Prefix
{% if add_ingress_for_dev_cnames %}
    - host: "dev-{{ cnames.grafana }}"
      http:
        paths:
        - backend:
            service:
              name: prometheus-grafana
              port:
                number: 80
          path: /
          pathType: Prefix
{% endif %}
{% if add_ingress_for_live_cnames %}
    - host: {{ cnames.grafana }}
      http:
        paths:
        - backend:
            service:
              name: prometheus-grafana
              port:
                number: 80
          path: /
          pathType: Prefix
{% endif %}
kind: List
metadata:
  resourceVersion: ""
