# Managing cloud-init images is now handled separate from building the VM
# templates so that you don't needlessly delete and re-download cloud-init
# images while you are experimenting with different template settings.

################################################################################
##
##  Proxmox storage
##
################################################################################
# The iso_storage variable specifies the hostname of the Proxmox node and name
# of that node's datastore where you would like to save the cloud-init image
# file.

iso_storage = {
  node = "pve1",
  name = "local-lvm"
}

################################################################################
##
##  cloud-init images
##
################################################################################
# Each cloud-init entry specifies its download URL and the local file name to
# save it as.
cloud_init_images = {
  debian13-genericcloud-20251006 = {
    url       = "https://cloud.debian.org/images/cloud/trixie/20251006-2257/debian-13-genericcloud-amd64-20251006-2257.qcow2",
    file_name = "debian-13-genericcloud-amd64-20251006.qcow2.img",
  },
  debian13-genericcloud-20251117 = {
    url       = "https://cloud.debian.org/images/cloud/trixie/20251117-2299/debian-13-genericcloud-amd64-20251117-2299.qcow2",
    file_name = "debian-13-genericcloud-amd64-20251117.qcow2.img",
  },
}
