# Managing cloud-init images is now handled separate from building the VM
# templates so that you don't needlessly delete and re-download cloud-init
# images while you are experimenting with different template settings.

################################################################################
##
##  Proxmox storage
##
################################################################################
# The iso_storage variable specifies the hostname of the Proxmox node and name
# of that node's datastore where you would like to save the cloud-init image
# file.

iso_storage = {
  node = "pve1",
  name = "local-lvm"
}

################################################################################
##
##  cloud-init images
##
################################################################################
# Each cloud-init entry specifies its download URL and the local file name to
# save it as.
cloud_init_images = {
  debian13-genericcloud-20250806 = {
    url       = "https://cloud.debian.org/images/cloud/trixie/20250806-2196/debian-13-genericcloud-amd64-20250806-2196.qcow2",
    file_name = "debian-13-genericcloud-amd64-20250806.qcow2.img",
  },
  debian13-genericcloud-20250911 = {
    url       = "https://cloud.debian.org/images/cloud/trixie/20250911-2232/debian-13-genericcloud-amd64-20250911-2232.qcow2",
    file_name = "debian-13-genericcloud-amd64-20250911.qcow2.img",
  },
}
