# Managing cloud-init images is now handled separate from building the VM
# templates so that you don't needlessly delete and re-download cloud-init
# images while you are experimenting with different template settings.

################################################################################
##
##  Proxmox storage
##
################################################################################
# The iso_storage variable specifies the hostname of the Proxmox node and name
# of that node's datastore where you would like to save the cloud-init image
# file.

iso_storage = {
  node = "pve1",
  name = "local-lvm"
}

################################################################################
##
##  cloud-init images
##
################################################################################
# Each cloud-init entry specifies its download URL and the local file name to
# save it as.
cloud_init_images = {
  noble-server-cloudimg-amd64-20250211 = {
    url       = "https://cloud-images.ubuntu.com/noble/20250211/noble-server-cloudimg-amd64.img",
    file_name = "noble-server-cloudimg-amd64-20250211.img",
  },
}
