# Managing cloud-init images is now handled separate from building the VM
# templates so that you don't needlessly delete and re-download cloud-init
# images while you are experimenting with different template settings.

################################################################################
##
##  Proxmox storage
##
################################################################################
# The iso_storage variable specifies the hostname of the Proxmox node and name
# of that node's datastore where you would like to save the cloud-init image
# file.

cloud_init_storage = {
  node_name    = "pve1",
  datastore_id = "local-lvm"
}

iso_storage = {
  node_name = "pve1",
  datastore_id = "local-lvm"
}

################################################################################
##
##  cloud-init images
##
################################################################################
# Each cloud-init entry specifies its download URL and the local file name to
# save it as.
cloud_init_images = {
  ubuntu-26_04-server-20260627 = {
    url       = "https://cloud-images.ubuntu.com/releases/26.04/release-20260627/ubuntu-26.04-server-cloudimg-amd64.img",
    file_name = "ubuntu-26.04-server-20260627.qcow2",
  },
}

iso_media = {}
