###############################################################################
###############################################################################
##
##  K8S
##
###############################################################################
###############################################################################
# These variables are passed to the Ansible playbook that installs the K3S
# cluster.  For the details, the playbook is in ansible/playbook.yml.
k8s_vip                   = "192.168.10.90"
k8s_vip_hostname          = "cka-k8s"
k8s_vip_domain            = "site1.example.com"
k8s_vip_cnames            = [
  "cka-alertmanager",
  "cka-grafana",
  "cka-prometheus",
  "cka-traefik",
]


###############################################################################
###############################################################################
##
##  Ansible
##
###############################################################################
###############################################################################
# This delay, in seconds, is to reduce output of failed connections attempts
# while we're waiting for the SSH service to start.
sleep_seconds_before_testing_connectivity = 20


###############################################################################
###############################################################################
##
##  Cloud-init
##
###############################################################################
###############################################################################
# This is where we specify the user credentials for the administrative user
# cloud-init will create on each VM cloned from a cloud-init template image.
# Since we will be using Ansible for configuration management, it makes sense
# for this to be the "ansible" user.  If any other users need to be configured,
# Ansible can do that.  After Terraform has created and booted the VM, it will
# run Ansible to do further machine configuration.  The corresponding private
# SSH key should be added to your SSH agent as SSH is usually configured to
# disallow password logins.  Note, the public key does not include the comment
# you see at the end of the line in the .pub file.
ci_user     = "groot"
ci_password = "change_me!"


###############################################################################
###############################################################################
##
##  Control host
##
###############################################################################
###############################################################################
# These variables are specific to your control host.  In particular, this
# variable defines the location of the SSH keypair for the cloud-init user.
# Terraform will search here for the cloud-init user's SSH public key and
# install it via the cloud-init drive when it clones the VMs.
ssh_keystore = "~/keys"


###############################################################################
###############################################################################
##
##  Proxmox
##
###############################################################################
###############################################################################
# This is the Proxmox storage location where you want VM disks to reside.  The
# default is "local-lvm", but you can override it to specify a shared storage
# location, such as NFS storage.
vm_storage = "cephrbd1"

ubuntu_cloud_image = {
  datastore_id = "cephfs1"
  node_name    = "pve1"
  version      = "24.04"
  release      = "20260321"
}

###############################################################################
###############################################################################
##
##  Virtual Machines
##
###############################################################################
###############################################################################
vms = [
  {
    vm_id            = 491,
    hostname         = "cka-k8s-cp1",
    domain           = "site1.example.com"
    role             = "k8s_first_control_plane_node",
    pve_node         = "pve1",
    hardware = {
      cpu_cores = 4,
      memory    = 8192,
      disk      = 20
    }
    mac_address  = "ca:fe:01:10:91:01",
    vlan_id      = 10,
    ipv4_address = "192.168.10.91/24"
    ipv4_gateway = "192.168.10.254",
    ipv4_dns_servers  = ["192.168.10.1"]
  },
  {
    vm_id            = 492,
    hostname         = "cka-k8s-cp2",
    domain           = "site1.example.com"
    role             = "k8s_control_plane_node",
    pve_node         = "pve2",
    hardware = {
      cpu_cores = 4,
      memory    = 8192,
      disk      = 20
    }
    mac_address  = "ca:fe:01:10:92:01",
    vlan_id      = 10,
    ipv4_address = "192.168.10.92/24"
    ipv4_gateway = "192.168.10.254",
    ipv4_dns_servers  = ["192.168.10.1"]
  },
  {
    vm_id            = 493,
    hostname         = "cka-k8s-cp3",
    domain           = "site1.example.com"
    role             = "k8s_control_plane_node",
    pve_node         = "pve3",
    hardware = {
      cpu_cores = 4,
      memory    = 8192,
      disk      = 20
    }
    mac_address  = "ca:fe:01:10:93:01",
    vlan_id      = 10,
    ipv4_address = "192.168.10.93/24"
    ipv4_gateway = "192.168.10.254",
    ipv4_dns_servers  = ["192.168.10.1"]
  },
  {
    vm_id            = 494,
    hostname         = "cka-k8s-w1",
    domain           = "site1.example.com"
    role             = "k8s_worker_node",
    pve_node         = "pve1",
    hardware = {
      cpu_cores = 4,
      memory    = 16384,
      disk      = 20
    }
    mac_address  = "ca:fe:01:10:94:01",
    vlan_id      = 10,
    ipv4_address = "192.168.10.94/24"
    ipv4_gateway = "192.168.10.254",
    ipv4_dns_servers  = ["192.168.10.1"]
  },
  {
    vm_id            = 495,
    hostname         = "cka-k8s-w2",
    domain           = "site1.example.com"
    role             = "k8s_worker_node",
    pve_node         = "pve2",
    hardware = {
      cpu_cores = 4,
      memory    = 16384,
      disk      = 20
    }
    mac_address  = "ca:fe:01:10:95:01",
    vlan_id      = 10,
    ipv4_address = "192.168.10.95/24"
    ipv4_gateway = "192.168.10.254",
    ipv4_dns_servers  = ["192.168.10.1"]
  },
  {
    vm_id            = 496,
    hostname         = "cka-k8s-w3",
    domain           = "site1.example.com"
    role             = "k8s_worker_node",
    pve_node         = "pve3",
    hardware = {
      cpu_cores = 4,
      memory    = 16384,
      disk      = 20
    }
    mac_address  = "ca:fe:01:10:96:01",
    vlan_id      = 10,
    ipv4_address = "192.168.10.96/24"
    ipv4_gateway = "192.168.10.254",
    ipv4_dns_servers  = ["192.168.10.1"]
  },
]
