---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: wger
  namespace: wger
spec:
  imageName: ghcr.io/cloudnative-pg/postgresql:17-standard-bookworm
  instances: 1
  enableSuperuserAccess: true

  # affinity:
  #   nodeSelector:
  #     label: node.kubernetes.io/cnpg=cnpg
  #   podAntiAffinityType: preferred
  #   tolerations:
  #     - effect: NoSchedule
  #       key: reservation
  #       operator: Equal
  #       value: database

  managed:
    roles:
      - name: "{{ wger_db_username }}"
        superuser: true
        login: true
        passwordSecret:
          name: wger-postgres-user
  bootstrap:
{% if wger_recover_db_from_backup %}
    recovery:
      database: "{{ wger_db_name }}"
      owner: "{{ wger_db_username }}"
      secret:
        name: wger-postgres-user
      source: dbRecoverySource

  externalClusters:
    - name: dbRecoverySource
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: wger-recovery
{% else %}
    initdb:
      database: "{{ wger_db_name }}"
      owner: "{{ wger_db_username }}"
      secret:
        name: wger-postgres-user
{% endif %}

  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: wger-backups
  storage:
    size: "{{ wger_db_size }}"
