---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich
  namespace: immich
spec:
  # At the time of writing, immich is only compatible with pgvecto.rs <0.4. Latest postgres image with that version is 16.5.
  imageName: ghcr.io/tensorchord/cloudnative-pgvecto.rs:16.5-v0.3.0@sha256:be3f025d79aa1b747817f478e07e71be43236e14d00d8a9eb3914146245035ba
  # A bug was reported in v0.3.0, which does not allow a replicated setup:
  # https://github.com/immich-app/immich-charts/issues/149#issuecomment-2559012759
  instances: 1
  enableSuperuserAccess: true

  # affinity:
  #   nodeSelector:
  #     label: node.kubernetes.io/cnpg=cnpg
  #   podAntiAffinityType: preferred
  #   tolerations:
  #     - effect: NoSchedule
  #       key: reservation
  #       operator: Equal
  #       value: database

  postgresql:
    shared_preload_libraries:
      - "vectors.so"

  managed:
    roles:
      - name: "{{ immich_db_username }}"
        superuser: true
        login: true
        passwordSecret:
          name: immich-postgres-user
  bootstrap:
{% if immich_recover_db_from_backup %}
    recovery:
      database: "{{ immich_db_name }}"
      owner: "{{ immich_db_username }}"
      secret:
        name: immich-postgres-user
      source: dbRecoverySource

  externalClusters:
    - name: dbRecoverySource
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: immich-recovery
{% else %}
    initdb:
      database: "{{ immich_db_name }}"
      owner: "{{ immich_db_username }}"
      secret:
        name: immich-postgres-user
      postInitSQL:
        - CREATE EXTENSION IF NOT EXISTS "vectors";
        - CREATE EXTENSION IF NOT EXISTS "cube" CASCADE;
        - CREATE EXTENSION IF NOT EXISTS "earthdistance" CASCADE;
{% endif %}

  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: immich-backups
  storage:
    size: "{{ immich_db_size }}"
