---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: firefly-attachments
  namespace: firefly
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: nfs-client
  resources:
    requests:
      storage: "{{ firefly_attachment_storage_size }}"
