---
apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials
  namespace: firefly
type: Opaque
stringData:
  ACCESS_KEY_ID: "{{ firefly_minio_access_key }}"
  ACCESS_SECRET_KEY: "{{ firefly_minio_secret_key }}"
