---
apiVersion: v1
kind: Secret
metadata:
  name: firefly-postgres-user
  namespace: "{{ item }}"
type: kubernetes.io/basic-auth
stringData:
  DB_USERNAME: "{{ firefly_db_username }}"
  DB_DATABASE_NAME: "{{ firefly_db_name }}"
  DB_PASSWORD: "{{ firefly_db_password }}"
  username: "{{ firefly_db_username }}"
  password: "{{ firefly_db_password }}"
