---
apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials
  namespace: immich
type: Opaque
stringData:
  ACCESS_KEY_ID: "{{ immich_minio_access_key }}"
  ACCESS_SECRET_KEY: "{{ immich_minio_secret_key }}"
