---
apiVersion: v1
kind: Secret
metadata:
  name: wger-postgres-user
  namespace: wger
type: kubernetes.io/basic-auth
stringData:
  DB_USERNAME: "{{ wger_db_username }}"
  DB_DATABASE_NAME: "{{ wger_db_name }}"
  DB_PASSWORD: "{{ wger_db_password }}"
  username: "{{ wger_db_username }}"
  password: "{{ wger_db_password }}"
