---
apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials
  namespace: wger
type: Opaque
stringData:
  ACCESS_KEY_ID: "{{ wger_minio_access_key }}"
  ACCESS_SECRET_KEY: "{{ wger_minio_secret_key }}"
