---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  ingressClassName: traefik
  rules:
  - host: "{{ k3s_vip_hostname }}-{{ cnames.jellyfin }}"
    http:
      paths:
      - backend:
          service:
            name: jellyfin
            port:
              number: 8096
        path: /
        pathType: Prefix
{% if add_ingress_for_dev_cnames %}
  - host: "dev-{{ cnames.jellyfin }}"
    http:
      paths:
      - backend:
          service:
            name: jellyfin
            port:
              number: 8096
        path: /
        pathType: Prefix
{% endif %}
{% if add_ingress_for_live_cnames %}
  - host: "{{ cnames.jellyfin }}"
    http:
      paths:
      - backend:
          service:
            name: jellyfin
            port:
              number: 8096
        path: /
        pathType: Prefix
{% endif %}
